
<!-- ***** Breadcrumb Area Start ***** -->
<section class="section d-flex align-items-center mt-5">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mt-2">

                <!-- Blog Comments -->
                <div class="blog-comments">
                    <!-- Admin -->
                    <div class="media py-3">
                        <!-- Admin Thumb -->
                        <div class="admin-thumb">
                            <img src="assets/image/alpaso-delivery.png" width="240" alt="">
                        </div>
                        
                        <!-- Admin Content -->
                        <div class="admin-content media-body pl-3 pl-sm-4">
                            <h4 class="admin-name mb-5">Bienvenido {{ email }}</h4>
                            <!-- <p class="mt-1" style="font-size: 12px;">{{ email }}</p> -->
                            <p class="mt-3">Al Paso Delivery una aplicación móvil amigable donde podrás encontrar muchos negocios (restaurantes, mini markets, tiendas, farmacias, etc.), todo lo que necesitas lo encuentras Al Paso.</p>
                            <p class="mt-5" style="font-size: 18px;">Al confirmar tu correo ganaste - <b>PRIMER ENVÍO GRATIS</b> -</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
