<!-- ***** FAQ Area Start ***** -->
<section class="section faq-area ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2 class="text-capitalize">Al Paso - Legal</h2>
                    <p class="d-none d-sm-block mt-4">Aquí encontrarás información legal y otros recursos sobre el uso de la plataforma Al Paso, cualquier información adicional que requiera puede escribirnos: info@alpaso.app</p>
                    <p class="d-block d-sm-none mt-4">Aquí encontrarás información legal y otros recursos sobre el uso de la plataforma Al Paso.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- FAQ Content -->
                <div class="faq-content">
                    <!-- sApp Accordion -->
                    <div class="accordion" id="sApp-accordion">
                        <div class="row">
                            <div class="col-12 col-md-10 col-lg-12">
                                <!-- Single Accordion Item -->
                                <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                    <!-- Card Header -->
                                    <div class="card-header bg-inherit border-0 p-0">
                                        <h2 class="mb-0">
                                            <button class="btn px-0 py-3" type="button" data-toggle="collapse" data-target="#collapseOne">
                                                Términos y Condiciones
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#sApp-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            El uso de nuestros servicio y productos como página web y aplicación móvil Al Paso están sujetos a las siguientes Condiciones de Uso (“Acuerdo de uso de confidencialidad”), que establece un acuerdo legalmente vinculante entre los usuarios de Al Paso y GO COMUNICACION. 
                                            <a class="active" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/alpaso-e0fc9.appspot.com/o/business%2F-M5NhkssETCcA9HQlDwZ%2Flegal%2FTe%CC%81rminos%20y%20Condiciones%20Al%20Paso.pdf?alt=media&token=9b9c1589-8e2d-43d0-be8f-61fed2b531b0">Seguir Leyendo...</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                    <!-- Card Header -->
                                    <div class="card-header bg-inherit border-0 p-0">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed px-0 py-3" type="button" data-toggle="collapse" data-target="#collapseTwo">
                                                Política de Privacidad
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#sApp-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            A continuación se describe el trato de la información generada por un usuario en nuestra plataforma web o app, así como a otras plataformas como redes sociales donde se publican promociones y ofertas. 
                                            <a class="active" target="_blank" href="https://firebasestorage.googleapis.com/v0/b/alpaso-e0fc9.appspot.com/o/business%2F-M5NhkssETCcA9HQlDwZ%2Flegal%2FPoli%CC%81ticas%20de%20Privacidad%20AlPaso.pdf?alt=media&token=68d02557-161e-4987-b5fc-7737d1ba62b1">Seguir Leyendo...</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** FAQ Area End ***** -->