<section class="section faq-area ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2 class="text-capitalize">¿Quiénes Somos?</h2>
                    <p class="d-none d-sm-block mt-4">Próximamente.</p>
                    <p class="d-block d-sm-none mt-4">Próximamente.</p>
                </div>
            </div>
        </div>
    </div>
</section>