  <!-- ***** Welcome Area Start ***** -->
  <section id="home" class="section welcome-area bg-overlay overflow-hidden d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <!-- Welcome Thumb -->
                <div class="welcome-thumb mx-auto">
                    <img src="assets/image/portada.jpg" alt="">
                </div>
            </div>
            <!-- Welcome Intro Start -->
            <div class="col-12 col-md-6 order-1 order-md-2">
                <div class="welcome-intro px-0 px-lg-4">
                    <!-- Logo -->
                    <a class="navbar-brand" href="#">
                      <img class="logo" width="180" src="assets/image/logo-completo.png" alt="">
                    </a>
                    <p class="text-white mt-3 mb-4">Todo lo que necesitas lo puedes encontrar Al Paso.</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex">
                        <!-- Colocar url Google Play -->
                        <a href="https://n9.cl/m53y">
                            <img src="assets/img/icon/google-play.png" alt="Google Play">
                        </a>
                        <!-- Colocar url App Store -->
                        <a href="https://n9.cl/uxsl">
                            <img src="assets/img/icon/app-store.png" alt="App Store">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Area Start ***** -->
<section id="features" class="section features-area overflow-hidden mt-5 ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>¿Qué es Al Paso?</h2>
                    <p class="d-none d-sm-block mt-4">Al paso es una aplicación que busca conectar a pequeños y
                        grandes negocios con clientes que requieren hacer compras desde la comodidad de su hogar.</p>
                    <p class="d-block d-sm-none mt-4">Al paso es una aplicación que busca conectar a pequeños y
                        grandes negocios con clientes que requieren hacer compras desde la comodidad de su hogar.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="features-slider-wrapper overflow-hidden">
                    <!-- Work Slider -->
                    <ul class="features-slider owl-carousel">
                        <li class="slide-item">
                            <img src="assets/image/screanshot-app-1.jpg" alt="">
                        </li>
                        <!-- <li class="slide-item">
                            <img src="assets/image/screanshot-app-2.jpg" alt="">
                        </li>
                        <li class="slide-item">
                            <img src="assets/image/screanshot-app-1.jpg" alt="">
                        </li>
                        <li class="slide-item">
                            <img src="assets/image/screanshot-app-2.jpg" alt="">
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 pt-4 pt-md-0">
                <ul class="features-item">
                    <li>
                        <!-- Image Box -->
                        <div class="image-box media icon-1 px-1 py-3 py-md-4 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.2s">
                            <!-- Featured Image -->
                            <div class="featured-img mr-3">
                                <img class="avatar-sm" src="assets/img/icon/featured-img/layers.png" alt="">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text media-body align-self-center align-self-md-start">
                                <h3 class="mb-2">Descarga Nuestro App</h3>
                                <p>Disponible para dispositivos IOS y Android.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Image Box -->
                        <div class="image-box media icon-2 px-1 py-3 py-md-4 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.4s">
                            <!-- Featured Image -->
                            <div class="featured-img mr-3">
                                <img class="avatar-sm" src="assets/img/icon/featured-img/support.png" alt="">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text media-body align-self-center align-self-md-start">
                                <h3 class="mb-2">Elije lo que Necesitas</h3>
                                <p>Escoge lo que quieras y agregalos al carrito de compras.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Image Box -->
                        <div class="image-box media icon-3 px-1 py-3 py-md-4 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.6s">
                            <!-- Featured Image -->
                            <div class="featured-img mr-3">
                                <img class="avatar-sm" src="assets/img/icon/featured-img/seo-and-web.png" alt="">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text media-body align-self-center align-self-md-start">
                                <h3 class="mb-2">Forma de Pago</h3>
                                <p>Elige tu forma de pago con efectivo o transferencia (próximamente tarjetas).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Image Box -->
                        <div class="image-box media icon-4 px-1 py-3 py-md-4 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.8s">
                            <!-- Featured Image -->
                            <div class="featured-img mr-3">
                                <img class="avatar-sm" src="assets/img/icon/featured-img/speak.png" alt="">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text media-body align-self-center align-self-md-start">
                                <h3 class="mb-2">Espera tu Pedido</h3>
                                <p>Espera tu pedido desde la comodidad de tu casa.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 pt-12 pt-md-0">
                <!-- Download Text -->
                <div class="download-text text-center">
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex justify-content-center">
                        <a href="https://n9.cl/m53y">
                            <img src="assets/img/icon/google-play-black.png" alt="">
                        </a>
                        <a href="https://n9.cl/uxsl">
                            <img src="assets/img/icon/app-store-black.png" alt="">
                        </a>
                    </div>
                    <span class="d-inline-block fw-3 font-italic mt-3">* Disponible para todos los dispositivos.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Area End ***** -->


<!-- ***** Price Plan Area Start ***** -->
<section id="pricing" class="section price-plan-area bg-gray overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>¿Quíeres vender por internet?</h2>
                    <p class="d-none d-sm-block mt-4">¿Te interesa vender tus productos por internet?</p>
                    <p class="d-block d-sm-none mt-4">¿Te interesa vender tus productos por internet?</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="row price-plan-wrapper">

                    <div class="col-12 col-md-2"></div>
                    <div class="col-12 col-md-8">
                        <!-- Single Price Plan -->
                        <div class="single-price-plan text-center p-5 wow fadeInLeft" data-aos-duration="2s" data-wow-delay="0.4s">
                            <!-- Plan Title -->
                            <div class="plan-title my-2 my-sm-3">
                                <h3 class="text-uppercase">Registra tu tienda local</h3>
                            </div>
                            <!-- Plan Description -->
                            <div class="plan-description">
                                <ul class="plan-features">
                                    <li class="border-top py-3">¿Tienes un negocio local?</li>
                                    <li class="border-top py-3">¿Quieres vener por internet?</li>
                                    <li class="border-top border-bottom py-3">¿Quires generar ingresos extras?</li>
                                </ul>
                            </div>
                            <!-- Plan Button -->
                            <div class="plan-button">
                                <a href="#" style="background: #20BCAE !important;" class="btn radius-100 mt-4">Registra tu Negocio</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Price Plan Area End ***** -->


<!-- ***** Work Area Start ***** -->
<section class="section work-area bg-overlay overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <!-- Work Content -->
                <div class="work-content text-center">
                    <h2 class="text-white">¿Quieres trabajar con nostros?</h2>
                    <p class="text-white my-3 mt-sm-4 mb-sm-5">Regístrate como motorizado repartidor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/icon/work/download.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Descarga el App</h3>
                    <p class="text-white">Descarga nuestro app de entregas...</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/icon/work/settings.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Completa tu perfil</h3>
                    <p class="text-white">Ingresa la información que solicita la plataforma...</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <!-- Single Work -->
                <div class="single-work text-center p-3">
                    <!-- Work Icon -->
                    <div class="work-icon">
                        <img class="avatar-md" src="assets/img/icon/work/app.png" alt="">
                    </div>
                    <h3 class="text-white py-3">Recibe pedidos</h3>
                    <p class="text-white">Inicia sesión y rebice pedidos, llevalos a su destino y recibe tu pago Al Paso.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Work Area End ***** -->


<!-- ***** Subscribe Area Start ***** -->
<section class="section subscribe-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <div class="subscribe-content text-center">
                    <h2>Suscríbete</h2>
                    <p class="my-4">Al suscribirse, recibirá boletines informativos, promociones y publicidad.</p>
                    <!-- Subscribe Form -->
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control radius-100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                        </div>
                        <button type="submit" style="background: #20BCAE !important;" class="btn radius-100 btn-lg btn-block">Subscríbete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Subscribe Area End ***** -->


<!-- ***** Download Area Start ***** -->
<section class="section download-area overlay-dark ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Download Text -->
                <div class="download-text text-center">
                    <h2 class="text-white">Descarga Al Paso</h2>
                    <p class="text-white my-3 d-none d-sm-block">Disponible para Google Play y App Store.</p>
                    <p class="text-white my-3 d-block d-sm-none">Disponible para Google Play y App Store.</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex justify-content-center">
                        <a href="https://n9.cl/m53y">
                            <img src="assets/img/icon/google-play.png" alt="">
                        </a>
                        <a href="https://n9.cl/uxsl">
                            <img src="assets/img/icon/app-store.png" alt="">
                        </a>
                    </div>
                    <span class="d-inline-block text-white fw-4 font-italic mt-3">* Disponible para todos los dispositivos.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Download Area End ***** -->