<!-- ***** Download Area Start ***** -->
<section class="section download-area overlay-dark ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Download Text -->
                <div class="download-text text-center">
                    <h2 class="text-white">Descarga Al Paso</h2>
                    <p class="text-white my-3 d-none d-sm-block">Disponible para Google Play y App Store.</p>
                    <p class="text-white my-3 d-block d-sm-none">Disponible para Google Play y App Store.</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex justify-content-center">
                        <a href="https://n9.cl/m53y">
                            <img src="assets/img/icon/google-play.png" alt="">
                        </a>
                        <a href="https://n9.cl/uxsl">
                            <img src="assets/img/icon/app-store.png" alt="">
                        </a>
                    </div>
                    <span class="d-inline-block text-white fw-4 font-italic mt-3">* Disponible para todos los dispositivos.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Download Area End ***** -->