<!--====== Contact Area Start ======-->
<section id="contact" class="contact-area bg-gray ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading">
                    <span class="d-inline-block rounded-pill shadow-sm fw-5 px-4 py-2 mb-3">
                        <i class="far fa-lightbulb text-primary mr-1"></i>
                        <span class="text-primary">Al</span>
                        Paso
                    </span>
                    <h2>Registro de Negocio</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-5">
                <!-- Contact Us -->
                <div class="contact-us">
                    <p class="mb-3">Al Paso es una plataforma que busca poner al servicio de pequeños y medianas empresas tecnología para incrementar sus ventas y dar un mejor servicio a sus clientes.</p>
                    <ul>
                        <li class="py-2">
                            <a class="media" href="#">
                                <div class="social-icon mr-3">
                                    <i class="fas fa-home"></i>
                                </div>
                                <span class="media-body align-self-center">Oficina matriz Quito / Pichincha</span>
                            </a>
                        </li>
                        <li class="py-2">
                            <a class="media" href="#">
                                <div class="social-icon mr-3">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <span class="media-body align-self-center">+593 9866 22088</span>
                            </a>
                        </li>
                        <li class="py-2">
                            <a class="media" href="#">
                                <div class="social-icon mr-3">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <span class="media-body align-self-center">info@alpaso.app</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 pt-4 pt-md-0">
                <!-- Contact Box -->
                <div class="contact-box text-center">

                    <!-- Contact Form -->
                    <form id="formStore" name="formStore" [formGroup]="formStore" novalidate>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input matInput class="form-control" formControlName="name" placeholder="Nombre y Apellido">
                                </div>
                                <div class="form-group">
                                    <input matInput class="form-control" formControlName="phone" placeholder="Telefono">
                                </div>
                                <div class="form-group">
                                    <input matInput class="form-control" formControlName="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input matInput class="form-control" formControlName="address" placeholder="Dirección">
                                </div>
                                <div class="form-group">
                                    <input matInput class="form-control" formControlName="business_name" placeholder="Nombre Comercial">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" formControlName="message" placeholder="¿A qué te dedicas?"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-left">
                                <input type="checkbox" formControlName="terms_accept"> Acepto los terminos y condiciones
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-lg btn-block mt-3" (click)="send()" [disabled]="formStore.invalid">
                                    <span class="text-white pr-3">
                                        <i class="fas fa-paper-plane"></i>
                                    </span>Enviar Solicitud
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Contact Area End ======-->